.grid_header {
	position:absolute; top:0px; right:0px; left:0px; height:59px; line-height:15px; font-size:14px; font-weight:bold; padding-left:10px;
	background-color:#ebf0ee; color:#525070; border:0px solid #c9cece; border-width:0px 0px 1px 0px; 
}

.grid-cell {
	background-color:#00ff00
}

.grid_content {
	position:absolute; top:0px; right:10px; left:0px; bottom:0px; overflow:auto;
}

.grid-toolbar {

}

.grid-toolbar:hover, .grid-toolbar:focus, .grid-toolbar:active {
    transform:scale(1); background-color:red
}