.toolbar-bg-color {
	background-color:rgba(255,0,0, 1);
}

.toolbar-text-color {
	color:white;
}

.toolbar-marker-h::before {
	background-color:blue;
}

.toolbar-marker-v::before {
	background-color:blue;
}

/*
 * Panel
 */
 .panel-button {
 	background-color:red
 }