
.tabs-container {
	position:absolute; top:0px; left:0px; width:100%; height:100%
}

.tabs-header {
	position:absolute; top:0px; left:0px; width:100%; height:48px;
	display:flex; flex-direction:row; 
	box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.tabs-link {
	position:relative; line-height:48px; font-size:14px; color:white; cursor:pointer; padding:0px 20px 0px 20px; margin:0px; border:0px;
	text-decoration:none;
}

.tabs-link:hover::before {
	position:absolute; top:0px; left:0px; bottom:0px; right:0px;
	content:'';
	background:rgba(255,255,255,0.1)
}

@keyframes tabs-marker {
    0%   {background-color: transparent;}
    100% {background-color: #FF4081;}
}

.tabs-link.is-active::after {
	position:absolute; content:''; height:2px; right:0px; left:0px; bottom:0px; background-color: #FF4081;
	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	
    -webkit-animation-name: tabs-marker; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.0s; /* Chrome, Safari, Opera */
    animation-name: tabs-marker;
    animation-duration: 1.0s;
}

.tabs-contents {
	position:absolute; top:48px; left:0px; right:0px; bottom:0px;
}

.tabs-content {
	position:absolute; top:0px; left:0px; right:0px; bottom:0px;
	display: none;
}

.tabs-content.is-active {
	position:absolute; top:0px; left:0px; right:0px; bottom:0px;
	display:block;
}

.tabs-bg {
	background:#3f51b5
}