/*
 * 000000
 * 005BAA
 * BCBEC0
 * 79B4E8
 * FFFFFF
 */

 @font-face {
   font-family: Exo2;
   src: url('Exo2-Regular.ttf')  format('truetype');
 }
 
 /*
  * toolbar
  */
.toolbar-bg-color {
	background-color:#ffffff;
}

.toolbar-text-color {
	color:#BCBEC0;
}

.toolbar-marker-h::before {
	background-color:#BCBEC0;
}

.toolbar-marker-v::before {
	background-color:#red; width:12px; border-radius:3px;
}

/**
 * toolbar item
 */
.toolbar-item-horizontal {
	padding-left:15px; font-size:14px; padding-right:15px; display:inline-block;
	border-right:1px solid #1E1D29; line-height:70px; height:70px; overflow:hidden;
	cursor:pointer;
}

.toolbar-item-horizontal:hover {
    background-color:rgba(255, 255, 255, 0.1);
}

.toolbar-item-vertical {
	padding-right:40px; font-family:"Exo2"; font-size:19px; text-align:right; color:#bcbec0; font-weight:bold;
	border-bottom: 1px solid #f0f0f0; line-height:60px; height:60px; overflow:hidden;
	cursor:pointer;
}

.toolbar-item-vertical:hover {
    background-color:rgba(255, 255, 255, 0.1);
}

/*
 * Panel
 */
.panel-header {
	background-color:#005BAA;
}

.panel-button::before {
	background-color:#79B4E8
}
 
 .panel-title {
	color:#ffffff; 
}