
.grid-container {
	position:absolute; top:0px; left:0px; right:0px; bottom:0px;
}

.grid-top {
	position:absolute; top:0px; left:0px; right:0px; height:48px;
	line-height:48px; color:white; padding:0px 20px 0px 20px; 
	display:flex; flex-direction:row; align-items:center; z-index:3;
	box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);	
}

.grid-content {
	position:absolute; top:48px; left:0px; right:0px; bottom:0px;
}

.grid-headers {
    position:absolute; top:0px; left:0px; right:0px; height:40px; background-color:white;
    display:flex; border:1px solid lightGrey; border-width:0px 0px 2px 0px;
}

.grid-header {
    position:relative; border:0px; width:150px; background-color:white; line-height:40px;
    padding:0px 5px 0px 5px; font-weight:bold;
}

.grid-rows {
    position:absolute; top:42px; left:0px; right:0px; bottom:0px; background-color:white;
    display:flex; flex-direction:column; overflow:auto;
}

.grid-row {
    position:relative; width:100%; border:1px solid lightGrey; height:40px; display:flex;
    border-width:0px 0px 1px 0px; background-color:white;
}

@keyframes highlight-row {
    0%   {background-color: transparent;}
    50% {background-color: #f0f0f0;}
    100% {background-color: #f0f0f0;}
}

.grid-row:hover {
	background-color:#f0f0f0; cursor:pointer;
	
    -webkit-animation-name: highlight-row; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.3s; /* Chrome, Safari, Opera */
    animation-name: highlight-row;
    animation-duration: 0.3s;
}

.grid-cell {
    position:relative; border:0px; width:150px; background-color:transparent; line-height:40px;
    padding:0px 5px 0px 5px;
}

.grid-curtain {
    position:absolute; top:0px; left:0px; bottom:0px; width:0px; 
    background: rgba(0,0,0,0.5);
    -webkit-transition: width 0.5s; /* Safari */
    transition: width 0.5s;
    z-index:3;
}

.grid-details-right {
    position:absolute; top:0px; left:0px; bottom:0px; width:0px;
    background: white; border:0px;
    -webkit-transition: width 0.5s; /* Safari */
    transition: width 0.5s; overflow:hidden;
    z-index:4;
}

.grid-bg {
	background:#3f51b5
}